.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-input {
  background-color: #f0efef;
  border: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-search {
  margin: 20px;
}

.page-title {
  font-size: 2em;
  text-align: center;
  color: #1c4cad;
}

.main-span {
  color: #39b1f7;
  font-weight: 700;
}

.poll-card {
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-title {
  color: #303030;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

.subtitle-1 {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  line-height: 1.6;
  color: #383838;
}

.subtitle-2 {
  text-align: center;
  line-height: 1.6;
  color: #383838;
  margin: 15px;
}

.info-title {
  color: #191d20;
  font-size: medium;
  font-weight: 400;
}

.tip-title {
  color: #3f4243;
  font-size: small;
  font-weight: 400;
}

.higlight-title {
  color: #572cb4;
  font-size: large;
  font-weight: 900;
}

.poll-list {
  width: 50%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.poll-form {
  margin: 20px auto;
  align-content: center;
}

.poll-info {
  display: flex;
  justify-content: center;
}

.main-button {
  margin: 10px !important;
  border-radius: 5px;
  background:#0EA5E9 !important;
}

.main-poll-button {
  margin: 10px !important;
  border-radius: 5px;
  background: linear-gradient(45deg, #65ceff, #975ff8);
}

.poll-button {
  height: 70px;
  width: 600px;
  color: #39b1f7;
  text-align: start;
  background-color: #1c4cad;
}

.selected-row {
  background-color: #f4f6fe !important;
}

.list-editor {
  list-style-type: none;
  padding: 0;
}

li.list-editor {
  font-size: xx-small;
}

.table-input {
  width: 100%;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  font-weight: bolder;
  outline: none;
  color: #374151;
}

.editor-poll-container {
  padding: 10px;
}

.main-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 600px;
  table-layout: fixed;
}

.main-table th,
.main-table td {
  color: #374151;
  padding: 8px;
  width: 200px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #F9FAFB;
}

.cell-list {
  margin: 10px;
}

select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.cover {
  width: 380px;
  height: 300px;
  object-fit: cover;
  background: #f4f8ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-cover {
  width: 30px;
  height: 30px;
  padding: 5px;
  object-fit: cover;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.big-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
}

.control-line {
  display: flex;
  justify-content: space-between;
  color: #202020;
  background-color: #1c4cad;
  size: 10px;
}

.control-line:hover {
  color: #939393;
}

.input-label {
  display: flex;
  justify-content: center;
  font-weight: 700px;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.current-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #0EA5E9, #7C3AED);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b7b7b7;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.status {
  color: #00c20a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(190, 159, 242), #39b3ec);
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch>span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #2da0ff;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch>span.on {
  left: 0;
  padding-left: 2px;
  color: #2da0ff;
}

.switch>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #2da0ff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #2da0ff;
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 44px;
}


.option-list {
  width: 400px;
  border-bottom: 20px solid #7C3AED;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-list h2 {
  color: #fff;
  background: linear-gradient(45deg, #0EA5E9, #7C3AED);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.option-list ul {
  width: 95%;
  padding: 0;
  position: relative;
  background: #fff;
}

.option-list ul:hover li {
  opacity: 0.2;
}

.option-list ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.option-list ul li:hover {
  background: linear-gradient(45deg, #0EA5E9, #7C3AED);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.option-list ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}

.option-list ul li:hover span {
  background: #fff;
  color: #25bcff;
}

.search {
  position: relative;
  display: flex;
  margin: 10px;
}

.search-text {
  width: 100%;
  border: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-text:focus{
  color: #00B4CC;
  border: none;
  outline: none;
}

.search-button {
  border: none;
  width: 40px;
  height: 36px;
  background: linear-gradient(45deg, #0EA5E9, #7C3AED);;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}