.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-title {
  font-size: 2em;
  text-align: center;
  color: #1c4cad;
}

.main-span {
  color: #39b1f7;
  font-weight: 700;
}

.poll-card {
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-title {
  color: #303030;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

.info-title {
  color: #191d20;
  font-size: medium;
  font-weight: 400;
}

.tip-title {
  color: #3f4243;
  font-size: small;
  font-weight: 400;
}

.higlight-title {
  color: #572cb4;
  font-size: large;
  font-weight: 900;
}

.poll-list {
  width: 50%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.poll-form {
  margin: 20px auto;
  align-content: center;
}

.poll-info {
  display: flex;
  justify-content: start;
}

.main-button {
  margin: 10px !important;
  background-color: #39b1f7 !important;
}

.poll-button {
  height: 70px;
  width: 600px;
  color: #39b1f7;
  text-align: start;
  background-color: #1c4cad;
}

.table-input {
  width: 100%;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bolder;
  background-color: transparent;
  outline: none;
  color: #374151;
}

.main-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 600px; 
  table-layout: fixed; 
}

.main-table th, .main-table td {
  border: 1px solid #ececec;
  color: #374151;
  padding: 8px;
  width: 200px; 
  height: 40px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.main-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #F9FAFB;
}

select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.cover {
  width: 380px;
  height: 300px;
  object-fit: cover;
  background: #f4f8ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-cover {
  width: 30px;
  height: 30px;
  object-fit: cover;
  background: #f4f8ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.control-line {
  display: flex;
  justify-content: space-between;
  color: #202020;
  background-color: #1c4cad;
  size: 10px;
}

.control-line:hover {
  color: #939393;
}

.input-label {
  display: flex;
  justify-content: center;
  font-weight: 700px;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin-bottom: 15px;
}

.current-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #0EA5E9, #7C3AED);
  color: white;
  font-size: 16px; 
  font-weight: bold;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background-color: #b7b7b7;
  color: white;
  font-size: 16px; 
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #2da0ff;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #2da0ff;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #2da0ff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #2da0ff;
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}